@import "../variables";

#ImagesContainer {

  #ImagesFilter {
    button{
      padding-left:0;
      &:focus{
        box-shadow: 0 0 0 0.2rem rgba(@secondary-color-rgb,.15)
      }
    }
    form{
      margin-top:5px;
    }
  }

  #ImageView {
    ul {
      padding: 0;
      margin: 0;
      text-align: right;
      li {
        display: inline-block;
        padding: 5px;
        cursor: pointer;

        &.active * {
          color: @secondary-color
        }
      }
    }
  }

  #ImagesList{
    margin-top:25px;

    button.btn-primary{
      background: @secondary-color-darker;
      border-color: @secondary-color-darker;
      &:focus{
        box-shadow: 0 0 0 0.2rem rgba(@secondary-color-rgb,.15)
      }
    }

    .ImagesListRow{
      margin-bottom: 25px;
    }
  }

}