@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

#app {
  background: @bg-primary-color;
  min-height: 100vh;

  * {
    font-family: @font-family;
    color: @font-primary-color;
  }

  a {
    transition: all ease 0.5s;
    * {
      transition: all ease 0.5s;
    }

    &:hover {
      text-decoration: none;
      color: @font-secondary-color;
      * {
        text-decoration: none;
        color: @font-secondary-color;
      }
    }
  }

}

// button primary

button.btn-primary {
  background: @secondary-color-darker;
  border-color: @secondary-color-darker;

  &:hover {
    background: @secondary-color;
    border-color: @secondary-color;
  }

  &:focus {
    background: @secondary-color !important;
    border-color: @secondary-color !important;
    box-shadow: 0 0 0 0.2rem rgba(@secondary-color-rgb, .15) !important;
  }
}