@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
}
#app {
  background: #191932;
  min-height: 100vh;
}
#app * {
  font-family: 'Anton', sans-serif;
  color: #c0f1eb;
}
#app a {
  transition: all ease 0.5s;
}
#app a * {
  transition: all ease 0.5s;
}
#app a:hover {
  text-decoration: none;
  color: #47e1e3;
}
#app a:hover * {
  text-decoration: none;
  color: #47e1e3;
}
button.btn-primary {
  background: #37b7b9;
  border-color: #37b7b9;
}
button.btn-primary:hover {
  background: #47e1e3;
  border-color: #47e1e3;
}
button.btn-primary:focus {
  background: #47e1e3 !important;
  border-color: #47e1e3 !important;
  box-shadow: 0 0 0 0.2rem rgba(71, 225, 227, 0.15) !important;
}
header {
  background: #0b0d1a;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
header #logo {
  float: left;
  margin: 0;
  padding: 5px 0;
}
header #logo .fa-cat {
  display: inline-block;
  margin-right: 15px;
  font-size: 2rem;
  position: relative;
  top: -2px;
}
header #logo .fa-cat * {
  color: #47e1e3;
}
header #logo span {
  display: inline-block;
}
header #logo span:first-of-type {
  color: #47e1e3;
  font-size: 2rem;
}
header #logo span:last-of-type {
  margin-left: 2px;
  font-style: italic;
  font-size: 1.5rem;
}
header nav {
  padding: 5px 0;
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header nav ul li:last-of-type {
  margin-right: 0;
}
header nav ul li a {
  display: block;
  font-size: 1rem;
  line-height: 3rem;
}
@media screen and (max-width: 450px) {
  header nav ul li a span {
    display: none;
  }
}
header nav ul li.active * {
  color: #47e1e3 !important;
}
header:after {
  content: "";
  display: block;
  height: 1px;
  background: #07070e;
  clear: both;
}
#wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
footer #footerShadow {
  display: block;
  content: "";
  height: 50px;
  background: linear-gradient(transparent 20%, #191932 80%);
}
footer #footerContainer {
  background: #191932;
}
footer #footerContainer #footerContent {
  text-align: center;
  padding: 3px 0 10px 0;
  font-size: 0.75rem;
}
#ImagesContainer #ImagesFilter button {
  padding-left: 0;
}
#ImagesContainer #ImagesFilter button:focus {
  box-shadow: 0 0 0 0.2rem rgba(71, 225, 227, 0.15);
}
#ImagesContainer #ImagesFilter form {
  margin-top: 5px;
}
#ImagesContainer #ImagesFilter form .form-group {
  margin-bottom: 0;
}
#ImagesContainer #ImagesFilter form .form-group .col-lg-6 {
  margin-bottom: 1rem;
}
#ImagesContainer #ImageView ul {
  padding: 0;
  margin: 0;
  text-align: right;
}
#ImagesContainer #ImageView ul li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
#ImagesContainer #ImageView ul li.active * {
  color: #47e1e3;
}
#ImagesContainer #ImagesList {
  margin-top: 25px;
}
#ImagesContainer #ImagesList .ImagesListRow {
  margin-bottom: 25px;
}
#ImagesContainer #ImagesTileContainer {
  margin-top: 25px;
}
#ImagesContainer #ImagesTileContainer button.nav-container {
  border: none;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
}
#ImagesContainer #ImagesTileContainer button.nav-container span {
  font-size: 1.5rem;
  position: relative;
  top: -8px;
}
#ImagesContainer #ImagesTileContainer button.nav-container:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(71, 225, 227, 0.15);
}
#ImagesContainer #ImagesTileContainer button.nav-container:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
#ImagesContainer #ImagesTileContainer button.nav-container.prev span {
  margin-left: 5px;
}
#ImagesContainer #ImagesTileContainer button.nav-container.next span {
  margin-right: 5px;
}
#ImagesContainer #ImagesTileContainer .dont-display-on-smaller-screens .nav-container {
  border: none;
  border-radius: 5px;
  background: transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#ImagesContainer #ImagesTileContainer .dont-display-on-smaller-screens .nav-container span {
  display: none;
}
@media screen and (max-width: 991px) {
  #ImagesContainer #ImagesTileContainer .dont-display-on-smaller-screens {
    display: none;
  }
}
#ImagesContainer #ImagesTileContainer .display-on-smaller-screens {
  justify-content: space-around;
  display: flex;
}
#ImagesContainer #ImagesTileContainer .display-on-smaller-screens .nav-container {
  margin-top: 5px;
}
@media screen and (min-width: 992px) {
  #ImagesContainer #ImagesTileContainer .display-on-smaller-screens {
    display: none;
  }
}
#ImagesContainer #ImagesTileContainer #tip {
  text-align: center;
  margin-top: 5px;
  font-size: 0.75rem;
}
#ImagesContainer #ImagesTileContainer #tip span {
  margin-right: 5px;
}
#ImagesContainer #ImagesTileContainer #tip span:last-of-type {
  margin: 0;
}
#ImagesContainer #ImagesTileContainer #tip .tiplabel,
#ImagesContainer #ImagesTileContainer #tip .tiplabel * {
  color: #47e1e3;
}
.ItemContainer {
  background: #0b0d1a;
  padding: 25px;
  border-radius: 3px;
}
@media screen and (max-width: 450px) {
  .ItemContainer {
    padding: 15px 0;
  }
}
.ItemContainer .ItemImage .LazyLoad {
  max-width: 40vh;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}
.ItemContainer .ItemImage .LazyLoad img {
  width: 100%;
  border-radius: 3px;
  transition: visibility 0s, opacity 1s linear;
}
@media screen and (max-width: 450px) {
  .ItemContainer .ItemImage .LazyLoad img {
    max-width: 85vw;
  }
}
.ItemContainer .ItemImage .loadingBackground {
  text-align: center;
  transform: translateY(20%);
}
.ItemContainer .ItemImage .loadingBackground .fa-cat {
  font-size: 1.5rem;
  position: absolute;
  transform: translate(-50%, -240%);
}
.ItemContainer .ItemActions {
  padding-top: 10px;
}
.ItemContainer .ItemActions ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.ItemContainer .ItemActions ul li {
  display: inline-block;
  cursor: pointer;
  padding: 15px 25px;
}
.ItemContainer .ItemActions ul li * {
  transition: all ease 0.5s;
}
.ItemContainer .ItemActions ul li .fa-heart,
.ItemContainer .ItemActions ul li .fa-link {
  font-size: 2.5rem;
}
.ItemContainer .ItemActions ul li span {
  display: block;
  margin-top: 5px;
}
.ItemContainer .ItemActions ul li span i {
  font-size: 70%;
  color: #37b7b9 !important;
}
.ItemContainer .ItemActions ul li:hover:not(.addedToFavourites) *:not(span):not(i) {
  color: #47e1e3 !important;
}
@media screen and (max-width: 450px) {
  .ItemContainer .ItemActions ul li {
    font-size: 70%;
    padding-bottom: 0 !important;
  }
}
.ItemContainer .ItemActions ul .addedToFavourites *:not(span) {
  color: #ff2d4d !important;
}
#LoginModal {
  margin-top: 4.5rem;
  z-index: 99999;
}
#LoginModal * {
  font-family: 'Anton', sans-serif;
}
#LoginModal h6 {
  margin: 0;
  color: grey;
}
#LoginModal form .form-group {
  margin-bottom: 0;
}
#LoginModal form .form-group .form-control:focus {
  border-color: rgba(71, 225, 227, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(71, 225, 227, 0.15);
}
#LoginModal form #loginerr {
  color: #ff2d4d;
  font-size: 0.75rem;
  margin-top: 15px;
  line-height: 31px;
}
#LoginModal form .btn-toolbar {
  text-align: right;
  display: block;
  margin-top: 15px;
}
#LoginModal form .btn-toolbar button {
  display: inline;
}
#LoginModal form .btn-toolbar button:first-of-type {
  margin-right: 3px;
}
/*# sourceMappingURL=styles.css.map */