@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

// font
@font-family: 'Anton', sans-serif;
@font-primary-color: #c0f1eb;
@font-secondary-color: #47e1e3;
@font-darker-color: #070817;


// layout

@bg-primary-color: #191932;
@bg-secondary-color: #0d102a;
@bg-header-color: #0b0d1a;
@bg-accent-color: #47e1e3;
